{% extends "layout.html" %}

{% block content %}
 <!-- <img src="static/images/School.png" alt="Paris" class="center"> -->
            <h5>
                <b>
                As schools reopen, it’s important that precautions are taken both 
                inside and outside the classroom to prevent the spread of COVID-19. 
                
                </b>
            </h5>
  
            <h6> 
                ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------<br>   
                <ul style="list-style-type:circle;">
                    <b>
                   <br><li> Physical distancing at school </li> <br>
                   <li> Practicing health and hand hygiene </li><br>
                   <li> Cleaning and disinfecting tips for the classroom </li><br>
                   <li> Actions to take if a student appears sick </li>
                    </b>
                </h6>
                </ul>
                <br>
                ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------<br>
               <b> Students are advised to choose physical/online 
                classes and please fulfill the criteria to attend 
                physical classes as per COVID 19 guidelines vaccination. 
                </b>
                
                <a href="/">
                    <button class="button button1">Return to Homepage</button>
                </a>

{% endblock %}

<!-- {% include "includes/footer.html" %} -->

